
.NavBar {
    height: 300px;
    font-family: 'Noto Sans Hebrew', sans-serif;
    background-color: steelblue;
    height: 120px;
    color: white;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: stretch;
    padding-left: 100px;
    padding-right: 100px;
}

h3 {
    text-decoration: underline;
    text-align: center;
}

h2 {
    text-align: center;

}
h1{
    text-align: center;
}

.logo {
    text-align: center;
    background-size: cover;
}

.links {
    font-family: 'Noto Sans Hebrew', sans-serif;
    text-align: right;
    font-size: 18px;
    color:white;
    text-decoration:none;
}

.links:hover{
    color: white;
    text-decoration:underline;
}

body {
    font-family: 'Noto Sans Hebrew', sans-serif;
    background-color: white;
    background-size: 900px;
    background-image: url("C:/Users/shoha/source/repos/Bitcoin Association Newsletter/BGImage.png");
    background-position: center;
    background-repeat: no-repeat;
}

.List {
    display: inline-block;
    text-align: right;
    margin-left: 150px;
    margin-right: 150px;
    color:black;
}

.TopNews {
    margin-left: 150px;
    margin-right: 150px;
}

.Footer {
    background-color: steelblue;
    height: 170px;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: stretch;
}
.Footer .FinalLinks{
    text-align: right;
    margin-inline-end: 35px;

}
.Footer .FinalLinks2{
    text-align: right;
    margin-inline-start: 35px;
}

a:link {
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

a{
    color: white;
}